[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:mazzma12/oh-my-zsh.git
