black
ipykernel
jupyter
jupyterlab
jupyterthemes
jupyter-black
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
notebook
#jupyter nbextension install https://github.com/drillan/jupyter-black/archive/master.zip --user
#jupyter nbextension enable jupyter-black-master/jupyter-black
