awscli
awscli_plugin_endpoint
black
ipykernel
ipywidgets
isort
jupyter
jupyter-dash
jupyterlab
#juyterlab_code_formatter
#jupyterlab_execute_time
jupyterthemes
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupytext
nbconvert<6
nbpreview
widgetsnbextension
